<!-- <div class="container mt-5">

  <div class="card shadow-lg main-card">

    <div class="card-header text-white header-style">
      <h3 class="text-center m-0" >🚗 Vehicle Details</h3>
    </div>

    <div class="card-body">

      <div class="table-responsive">

        <table class="table custom-table align-middle">

          <thead>
            <tr>
              <th>#</th>
              <th>Image</th>
              <th>Vehicle</th>
              <th>Manufacturer</th>
              <th>Model</th>
              <th>Type</th>
              <th>Fuel</th>
              <th>Color</th>
              <th>Cost</th>
              <th>Tyres</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>

            <tr *ngFor="let v of vehicles; let i=index">

              <td>{{i+1}}</td>

              <td>
                <img src="{{v.image}}" class="vehicle-img">
              </td>

              <td class="vehicle-name">{{v.Vehicle}}</td>

              <td>{{v.manufacturer}}</td>

              <td>{{v.model}}</td>

              <td>
                <span class="badge type-badge">{{v.type}}</span>
              </td>

              <td>
                <span class="badge fuel-badge">{{v.fuel}}</span>
              </td>

              <td>{{v.color}}</td>

              <td class="price">₹ {{v.cost}}</td>

              <td>{{v.tyres}}</td>

              <td>
                <button 
                class="btn btn-danger btn-sm delete-btn"
                (click)="deleteVehicle(i)">
                Delete
                </button>
              </td>

            </tr>

          </tbody>

        </table>

      </div>

    </div>

  </div>

</div> -->
<div class="container mt-5">

  <div class="card shadow-lg main-card">
    <div class="card-header text-white header-style">
      <h3 class="text-center m-0"  appHilights>🚗 Vehicle Details</h3>
    </div>

    <div class="card-body">

      <div class="table-responsive">

        <table class="table custom-table align-middle">

          <thead>
            <tr>
              <th>#</th>
              <th>Image</th>
              <th>Vehicle</th>
              <th>Manufacturer</th>
              <th>Model</th>
              <th>Type</th>
              <th>Fuel</th>
              <th>Color</th>
              <th>Cost</th>
              <th>Tyres</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>

            <tr *ngFor="let v of vehicles; let i=index">

              <td>{{i+1}}</td>

              <td>
                <img src="{{v.image}}" class="vehicle-img">
              </td>

              <td class="vehicle-name" >{{v.Vehicle  }} </td>

              <td>{{v.manufacturer}}</td>

              <td>{{v.model}}</td>

              <td>
                <span class="badge type-badge">{{v.type}}</span>
              </td>

              <td>
                <span class="badge fuel-badge">{{v.fuel}}</span>
              </td>

              <td>{{v.color}}</td>

              <td class="price">₹ {{v.cost}}</td>

              <td>{{v.tyres}}</td>

              <td>
                <button 
                class="btn btn-danger btn-sm delete-btn"
                (click)="deleteVehicle(i)">
                Delete
                </button>
              </td>

            </tr>

          </tbody>

        </table>

      </div>

    </div>

  </div>

</div>