<!-- directives -->

<!--strictural directiives  -->
<p *ngFor="let citie of cities">{{citie}}</p>


<ol>
    <li *ngFor="let city of cities">{{city}}</li>
</ol>
<select name="" id="">
    <option value="" *ngFor="let city of cities">{{city}}</option>
</select>

<div *ngFor="let produ of products">
{{produ.name | uppercase}}  Price is :{{produ.price}}

</div>

<h3>{{today | date:'yy-MM-dd'}}</h3>
<h3>{{today | date:'yyyy/MM/dd'}}</h3>
<h3>{{today | date:'fullDate'}}</h3>






<table border="1">
    <thead>
        <tr>
            <th>Num</th>
            <th>Name</th>
            <th>Price</th>
            <th>Color</th>
        </tr>
    </thead>

    <thead>
        <tr *ngFor="let product of products; index as i">
            <td>{{i+1}}</td>
            <td [ngClass]="{'frist':product.price>=500, 'scand':product.price<=500}">{{product.name |uppercase}}</td>
            <td [ngStyle]="{'color': product.price >= 500 ? 'red' : 'green'}">{{product.price |currency}}</td>
            <td [ngClass]="{'frist':product.color==='red', 'scand':product.color==='green'}">{{product.color}}</td>
        </tr>
    </thead>
</table>

<!-- *ngif -->

<h1 *ngIf="showHeader">Helloooo Angular</h1>

<!-- di bug -->

<pre>{{products | json}}</pre>

