<form  [formGroup]="createvehicleform">
    <h1 routerLink="/dashbord/vehicletwo">❎</h1>
    <h2 >{{upid?'Edit Vehicle':'Create Vehicle'}}</h2>
    <label for="">VehicleNAme:</label>
    <input type="text" name="" id="" formControlName="Vehicle">
    <label for="">Vehiclemanufacturer:</label>
    <input type="text" name="" id="" formControlName="manufacturer">
    <label for="">VehicleColor:</label>
    <input type="text" name="" id="" formControlName="color">
    <label for="">VehicleType:</label>
    <input type="number" name="" id="" formControlName="type">
    <label for="">VehiclImage</label>
    <input type="text" name="" id="" formControlName="image">
    <label for="">VehicleCost</label>
    <input type="number" name="" id="" formControlName="cost">
    <label for="">VehicleTyres</label>
    <input type="number" name="" id="" formControlName="tyres">

    <label for="">Model</label>
    <input type="text" name="" id="" formControlName="model">
    <label for="">Fuel</label>
    <input type="text" name="" id="" formControlName="fuel">
</form>
    <button type="button" (click)="getvehicledata()">Submit</button>
