.login-wrapper{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}

.background-image{
  position:absolute;
  width:100%;
  height:100%;
  background-image:url("https://images.unsplash.com/photo-1557682250-33bd709cbe85");
  background-size:cover;
  background-position:center;
  filter:blur(6px);
}

.login-card{
  width:380px;
  padding:35px;
  border-radius:15px;
  backdrop-filter: blur(10px);
  background:rgba(255,255,255,0.9);
  z-index:2;
}

.login-header{
  text-align:center;
  margin-bottom:20px;
}

.login-icon{
  font-size:60px;
  color:#3f51b5;
}

.full-width{
  width:100%;
  margin-bottom:15px;
}

.login-button{
  width:100%;
  height:45px;
  margin-top:10px;
  font-size:16px;
}

.extra-links{
  display:flex;
  justify-content:space-between;
  margin-top:15px;
}

.extra-links a{
  text-decoration:none;
  color:#3f51b5;
}

.extra-links a:hover{
  text-decoration:underline;
}

.remember{
  margin-top:5px;
}