<div class="login-container">

  <mat-card class="login-card">

    <!-- Logo -->
    <div class="logo-section">
      <mat-icon class="logo-icon">account_circle</mat-icon>
      <h2>Welcome Back</h2>
      <p>Please login to continue</p>
    </div>

    <!-- Form -->
    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <!-- Email -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="email">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">

        <button mat-icon-button matSuffix type="button"
                (click)="hidePassword = !hidePassword">

          <mat-icon>
            {{hidePassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>

        </button>

      </mat-form-field>

      <!-- Login button -->
      <button mat-raised-button color="primary"
              class="login-button"
              routerLink="/dashbord">

        Login

      </button>

    </form>

    <!-- Links -->
    <div class="extra-links">
      <a href="#">Forgot Password?</a>
      <a href="#">Create Account</a>
    </div>

  </mat-card>

</div>