<!-- 

<div class="mail-container">
    <h1>Mails</h1>

    
    <ol>
        <li *ngFor="let maildata of maillist" [ngClass]="{'yellow': maildata.completed, 'black': maildata.completed}">
            {{maildata.title}}
        </li>
    </ol>
</div> -->

<div class="mail-container">
    <h1>Mails</h1>

    
    <ol>
        <li *ngFor="let maildata of maillist" [ngClass]="{'yellow': maildata.completed, 'black': maildata.completed}">
            {{maildata.title}}
        </li>
    </ol>
</div> 

