    <h1>Flipcard Items</h1>
     <label for="">Search Item:</label>
<input type="text" placeholder="Enter to search" [(ngModel)]="keyword"  (keyup)="search()">
     <div class="album-container">

<div class="album-container">
 

  <div *ngFor="let products of flipcardalllist" class="product-box">

    <div class="image-section">

      <div class="rating-badge">
        ⭐ {{products.rating.rate}}
      </div>

      <img [src]="products.image" alt="product">

    </div>

    <div class="product-details">

      <h4 class="product-title">
        {{products.title}}
      </h4>

      <p class="product-category">
        {{products.category}}
      </p>

      <div class="price">
        ₹ {{products.price}}
      </div>

      <button class="cart-btn">
        Add to Cart
      </button>

    </div>

  </div>

  <div>
    <button *ngFor="let x of [].constructor(6); let i=index" 
     (click)="pagenaction(i+1)">{{i+1}}

    </button>

  </div>
</div>